DISCORD_TOKEN=
STATUS_URL=
POLL_MS=5000
# DEBUG options: 'both' to log Roku+Discord, 'roku' to log Roku only, 'discord' to log Discord only
# also accepts 'true' or '1' to enable both
DEBUG=
DISCORD_CLIENT_ID=
